{% extends 'base.html' %}

{% block content %}

<img src="{{ url_for('static', filename=article[4]) }}" class="article-img" alt="...">
<h3 class="card-title">{{article[1]}}</h3>
<h5 class="card-text">{{article[2]}}</h5>
<h5 class="card-text">{{article[3]}} грн.</h4>




    
    <h3>Зробити замовлення</h3>
    
    <form action="/submit_order" method="POST">
        <input name="name" placeholder="Ім’я" required><br>
        <input name="address" placeholder="Адреса" required><br>
        <input name="phone" placeholder="Номер телефону" required><br>
        <button type="submit">Замовити</button>
    </form>
        


{% endblock content %}